<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-about.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Emotion Detection</title>
</head>
<body>
    <header>
        <h5>Facial Emotion Detection</h5>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/homepage">Detection</a>
    </nav>

    <main>
        <h2>About Our Emotion Recognition System</h2>
        <p style="color:#FEF9E0 ;">
            Our Emotion Detection system is intelligently designed to analyze facial expressions 
            in real-time, offering valuable insights into the emotional states of individuals. Leveraging 
            advanced machine learning techniques, the system goes beyond mere emotion identification, 
            providing actionable recommendations for counselors to support students based on their detected 
            emotions. We can accurately identify a spectrum of emotions, including happiness, sadness, anger, fear, 
            and neutrality. For instance, if a student is detected to be experiencing heightened levels of sadness, 
            the system can offer tailored suggestions to counselors on empathetic approaches, potential support mechanisms, 
            and recommended interventions. This holistic approach ensures that our Emotion Detection system not only 
            identifies emotions but also contributes to creating a supportive and empathetic environment for individuals.
        </p>

        <div class="card-container">
            <div class="card">
                <h4>Real-time Emotion Analysis</h4>
                <p>
                    Our system performs real-time analysis of facial expressions, providing instant insights into the
                    emotional state of the user.
                </p>
            </div>

            <div class="card">
                <h4>Accurate Detection of Facial Expressions</h4>
                <p>
                    Leveraging advanced machine learning algorithms, we ensure accurate detection of a wide range of facial
                    expressions, including subtle nuances that convey various emotions.
                </p>
            </div>

            <div class="card">
                <h4>Support for a Variety of Emotions</h4>
                <p>
                    Our system supports the detection of multiple emotions, including happiness, sadness, anger, fear, and
                    neutrality, providing a comprehensive emotional analysis.
                </p>
            </div>

            <div class="card">
                <h4>User-friendly Interface</h4>
                <p>
                    With a user-friendly interface, our Emotion Detection system is designed to be accessible and easy to use,
                    ensuring a seamless experience for users.
                </p>
            </div>
        </div>

        <div class="contact-section">
            <h4>Contact Us</h4>
            <p>
                If you have any questions or feedback, feel free to reach out to us at <a href="mailto:info@emotiondetection.com">info@emotiondetection.com</a>.
            </p>
        </div>
    </main>
</body>
</html>
